SELECT Name,
       ASIN,
       Cost,
       ItemNumber,
	   SKU
  FROM Adhoc.[dbo].Godinger
  INSERT INTO AmazonMWS.dbo.Products
  (CreatedDate,
  ModifiedDate,
  UPC,
  Name,
  Cost,
  PromotionCost,
  OverrideCost,
  MAPPrice,
  MinPrice,
  MaxPrice,
  BreakevenPrice,
  QuantityInCase,
  ASIN,
  SKU,
  ItemNumber,
  ManufacturerId,
  Length,
  Width,
  Height,
  Weight,
  IsMAP,
  IsDiscontinued,
  Notes)

  SELECT	GETDATE() as CreatedDate,
			GETDATE() as ModifiedDate,
			NULL as UPC,
			rc.Name,
			rc.Cost,
			NULL as PromotionCost,
			NULL as OverrideCost,
			NULL as MAPPrice,
			NULL as MinPrice,
			NULL as MaxPrice,
			NULL as BreakevenPrice,
			NULL as QuantityInCase,
			rc.ASIN,
			rc.SKU,
			rc.ItemNumber,
			21 as ManufacturerId,
			NULL as Length,
			NULL as Width,
			NULL as Height,
			NULL as Weight,
			0 as IsMAP,
			0 as IsDiscontinued,
			NULL as Notes
  FROM Adhoc.dbo.Godinger rc
  --WHERE NOT EXISTS (SELECT 'x' FROM dbo.Products p WHERE rc.ASIN IS NOT NULL AND p.ASIN = rc.ASIN)