@model WebApplication.Models.InventoryReportRequest

@{
	ViewBag.Title = "Inventory Report";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
	.ui-autocomplete-loading {
		background: white url('/Content/Images/ui-anim_basic_16x16.gif') right center no-repeat;
	}
	#manufacturer { width: 25em; }
</style>

<script type="text/javascript">
	$(function () {
		$("#manufacturer").autocomplete({
			source: function (request, response) {
				$.ajax({
					url: "../Manufacturer/Find",
					type: 'POST',
					dataType: "json",
					data: {
						manufacturerString: request.term
					},
					success: function (data) {
						response($.map(data, function (item) {
							return {
								label: item.Name,
								value: item.Name,
								Id: item.Id
							};
						}));
					}
				});
			},
			minLength: 1,
			select: function (event, ui) {
				document.getElementById("ManufacturerId").value = ui.item.Id;
				document.getElementById("ManufacturerName").value = ui.item.label;
			},
			open: function () {
				$(this).removeClass("ui-corner-all").addClass("ui-corner-top");
			},
			close: function () {
				$(this).removeClass("ui-corner-top").addClass("ui-corner-all");
			}
		});
	});
</script>

<h1>Inventory Report</h1>

@using (Html.BeginForm("GetInventoryReport", "Report", FormMethod.Post))
{
	<fieldset>
		<div class="ui-widget" style="margin-bottom: 6px;">
			<label for="manufacturer">Search for Manufacturer: </label>
			<input id="manufacturer" />
		</div>
		
		<input type="hidden" name="ManufacturerName" id="ManufacturerName" />
		<input type="hidden" name="ManufacturerId" id="ManufacturerId" />

		<label for="DaysOrderAndInventoryHistoryToUse">Days of Inventory/Order history to consider: </label>
		<input name="DaysOrderAndInventoryHistoryToUse" id="DaysOrderAndInventoryHistoryToUse" value="120" />
		<br/>
		<label for="DaysToReorder">Days of inventory to reorder: </label>
		<input name="DaysToReorder" id="DaysToReorder" value="90" />
		<br/>
		<label for="DaysLeadTime">Days of lead time: </label>
		<input name="DaysLeadTime" id="DaysLeadTime" value="7" />
		<br/>
		<br/>
		<input type="submit" value="Submit" class="btn btn-default btn-lg" />
	</fieldset>
}
