<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AmazonProductLookup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AmazonProductLookup.Properties.Settings>
            <setting name="accessKeyIdMws" serializeAs="String">
                <value />
            </setting>
            <setting name="secretKeyAdv" serializeAs="String">
                <value />
            </setting>
            <setting name="destination" serializeAs="String">
                <value>ecs.amazonaws.com</value>
            </setting>
            <setting name="associateTag" serializeAs="String">
                <value />
            </setting>
            <setting name="namespaceWebServices" serializeAs="String">
                <value>http://webservices.amazon.com/AWSECommerceService/2011-08-01</value>
            </setting>
            <setting name="serviceUrl" serializeAs="String">
                <value>https://mws.amazonservices.com/Products/2011-10-01</value>
            </setting>
            <setting name="sellerId" serializeAs="String">
                <value />
            </setting>
            <setting name="marketPlaceId" serializeAs="String">
                <value />
            </setting>
            <setting name="secretAccessKeyIdMws" serializeAs="String">
                <value />
            </setting>
            <setting name="accessKeyIdAdv" serializeAs="String">
                <value />
            </setting>
            <setting name="InboundShipmentServiceUrl" serializeAs="String">
                <value>https://mws.amazonservices.com/FulfillmentInboundShipment/2010-10-01</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="AddressLine1" serializeAs="String">
                <value />
            </setting>
            <setting name="City" serializeAs="String">
                <value />
            </setting>
            <setting name="StateOrProvinceCode" serializeAs="String">
                <value />
            </setting>
            <setting name="PostalCode" serializeAs="String">
                <value />
            </setting>
            <setting name="CountryCode" serializeAs="String">
                <value />
            </setting>
            <setting name="InspireGourmetMerchantID" serializeAs="String">
                <value />
            </setting>
            <setting name="InspireGourmetMarketPlaceID" serializeAs="String">
                <value />
            </setting>
            <setting name="MerchantIdentifier" serializeAs="String">
                <value />
            </setting>
        </AmazonProductLookup.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
